.parent-skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parent-skills > a {
  flex: 1; /* Semua item akan memiliki ukuran dasar yang sama */
  background-color: #f0f0f0;
  text-align: center;
  border: 1px solid #ccc;
  text-decoration: none;
  color: black;
  transition: flex 0.2s ease; /* Transisi pelebaran */
}

.parent-skills > a:hover {
  flex: 3;
  transition: flex 0.2s ease; /* Transisi pelebaran */
}

.parent-skills > a div > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
}

.bg-image-fe,
.bg-image-qsf,
.bg-image-ne {
  height: 100%;
  background-size: cover; /* Gambar menutupi div dengan proporsi yang sesuai */
  background-position: center; /* Posisikan gambar di tengah */
  background-repeat: no-repeat; /* Gambar tidak akan diulang */
  transition: background-size 0.3s ease;
}

/* #skills {
  --tw-bg-opacity: 1;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity)) /* #fde047 */
/* }  */

.softskills h3 {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  z-index: 10;
  cursor: pointer;
}
.softskills h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  /* height: 40px; Adjust height as needed */
  background-color: transparent;
  transition: width 1s ease, background-color 1s ease;
  z-index: -10;
}
.softskills h3:hover::before {
  width: 300px; /* Adjust width as needed */
  height: 25px;
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.bg-image-fe {
  background-image: url(../assets/skill/reactjs.jpg);
}

.bg-image-qsf {
  background-image: url(../assets/skill/quantum.jpg);
}
.bg-image-ne {
  background-image: url(../assets/skill/computernetwork.jpg);
}

.animation-to-left {
  animation: movingToLeft 0.5s linear infinite;
}

.animation-to-right {
  animation: movingToRight 0.5s linear infinite;
}

@keyframes movingToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-15%);
  }
}
@keyframes movingToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(15%);
  }
}
