.parent-skills h1 {
  color: white;
  font-style: italic;
}

.bg-image-fe,
.bg-image-qsf,
.bg-image-ne {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#skills {
  --tw-bg-opacity: 1;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity)) /* #fde047 */;
}


.bg-image-fe {
  background-image: url(../assets/skill/reactjs.jpg);
}

.bg-image-qsf {
  background-image: url(../assets/skill/quantum.jpg);
}
.bg-image-ne {
  background-image: url(../assets/skill/computernetwork.jpg);
}

.animation-to-left {
  animation: movingToLeft 0.5s linear infinite;
}

.animation-to-right {
  animation: movingToRight 0.5s linear infinite;
}

@keyframes movingToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-15%);
  }
}
@keyframes movingToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(15%);
  }
}
