.logos {
  overflow: hidden;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logos-slide {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  animation: movingItem 30s infinite linear;
}

.logos-slide img {
  margin: 0 40px;
}

@keyframes movingItem {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
