/* SkillBar.css */

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .skill-name {
    width: 20%;
    font-weight: bold;
  }
  
  .skill-bar {
    width: 60%;
    height: 25px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
  }
  
  .skill-level {
    height: 100%;
    width: 0;
    background-color: #3498db;
    transition: width 2s ease;
  }
  
  .skill-percentage {
    width: 10%;
    text-align: right;
    font-weight: bold;
  }
  