@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'syne','Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}